@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

html {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 50vw;
    padding: 0 2rem;
    border-radius: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

header {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

header div h1 {
    font-size: 1.5rem;
    font-weight: 800;
}

header div .notifications-counter {
    width: 2rem;
    height: 1.5rem;
    background-color: var(--blue);
    border-radius: 5px;
    color: #ffffff;
    display: flex;
    justify-content: center;
}

header .mark-all-button {
    color: var(--grayish-blue);
}

main ul li {
    position: relative;
    margin-bottom: 3rem;
    display: flex;
    gap: 1rem;
    color: var(--grayish-blue);
}

main ul li img {
    width: 3.5rem;
    height: 3.5rem;
}

main ul li .notification-infos{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

main ul li .notification-infos a {
    font-weight: 800;
}

main ul li .notification-infos .notification-link-post {
    color: var(--dark-grayish-blue);
}

main ul li .notification-infos .notification-link-group {
    color: var(--blue);
}

main ul li .notification-infos .notification-text-private-message {
    margin-top: 0.5rem;
    padding: 1rem;
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    text-align: justify;
}

main ul li .notification-image {
    position: absolute;
    right: 0;
}